{% extends 'base.html.twig' %}

{% block title %}New Clusters{% endblock %}

{% block body %}

    <div class="container">

        <h1>Créer un nouvel Clusters</h1>
    
        {{ include('clusters/_form.html.twig') }}
    
    </div>
{% endblock %}
